.toolbar {
    background-color: rgba(0,0,0,0.5);
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.max_66{
    max-width :66%;
}
.table{
    display: table !important;
}
.clearfix::after{
    content:".";        
    display:block;        
    height:0;        
    clear:both;        
    visibility:hidden;   
}
.color_hui{
    color:#ababab;
}
.bgcolor_aqua{
    background-color: aquamarine !important;
}
.return_btn{
    box-sizing: border-box;
    height: 100%;
    font-size: 26px;
    padding: 0 10px;
    display: inline-block;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}